<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="756ead">  <td>18/10/03 17:43:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Utility.close1()[pri:0, instance:com.sibm.report.Sibm_Report.Utility@73846619]">&lt;&lt;close1</td> 
<td>&nbsp;</td>  <td>main@1846412426</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>18/10/03 17:49:43</td>   <td>371730</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Utility.close1()[pri:0, instance:com.sibm.report.Sibm_Report.Utility@73846619]">&lt;&lt;close1</td> 
<td>&nbsp;</td>  <td>main@1846412426</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>18/10/03 17:37:20</td>   <td>-371881</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Utility.setup()[pri:0, instance:com.sibm.report.Sibm_Report.Utility@73846619]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1846412426</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>18/10/03 17:43:32</td>   <td>40</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Utility.setup()[pri:0, instance:com.sibm.report.Sibm_Report.Utility@73846619]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1846412426</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>18/10/03 17:37:30</td>   <td>-361993</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Utility.signup(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.sibm.report.Sibm_Report.Utility@73846619]">signup</td> 
  <td>main@1846412426</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>18/10/03 17:43:41</td>   <td>8955</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Utility.signup(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.sibm.report.Sibm_Report.Utility@73846619]">signup</td> 
  <td>main@1846412426</td>   <td></td> </tr>
</table>
